.container {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding: 20px;
  height: calc(100% - 40px);
  transition: transform .7s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    transform: rotate(180deg);
  }
}
