@import url(styles/palette.css);
@import url(styles/typescale.css);
@import url(styles/typography.css);
@import url(styles/colors.css);
@import url(styles/theme/light.css) screen and (prefers-color-scheme: light);
@import url(styles/theme/dark.css) screen and (prefers-color-scheme: dark);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
